<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:replace="~{fragments/frag.html:: head}"></div>
<body>
<!-- Navigation-->
<div th:replace="~{fragments/frag.html :: nav}"></div>
<!-- Header-->
<header class="bg-image py-5" style="background-image: url('./images/website/finalbanner.png');">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-dark">
      <h1 class="display-4 fw-bolder">!! Sale Upto 75% OFF !!</h1>
      <p class="lead fw-normal text-white-70">One stop shop for all your plant needs</p>
    </div>
    <form class="example" th:action="@{/search}" method="get" style="margin:auto;max-width:300px">
      <input type="text" name="keyword" th:value="${keyword}"  placeholder="Search..">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" th:each="prod : ${product}">
        <form action="" th:action="@{/addToCart/{id}(id=${prod.id})}" th:object="${product}" method="POST" class="needs-validation">
        <div class="card h-100">
          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale <span th:text="${prod.discount}"> </span>% Off</div>
          <!-- Product image-->
          <img class="card-img-top" th:src="@{${prod.image}}" th:name="productImage" alt="fancy items" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder" th:text="${prod.name}" th:name="productName"></h5>
              <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-half"></div>
              </div>
              <!-- Product price-->
              <p th:text="${prod.description}" th:name="description"></p>
              $<span class="text-muted text-decoration-line-through" th:text="${prod.beforeDiscountPrice}" ></span>
              $<span th:text="${prod.price}" th:name="price" requried></span>
              <div class="col-auto">
                <label for="validationQuantity"></label>
                <label class="sr-only" for="inlineFormInputGroup"></label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text quantity buttons_added" id="inlineFormInputGroup">Quantity</div>
                  </div>
                  <input type="number" class="form-control" id="validationQuantity" step="1" min="1" max="3" name="quantity" value="1" title="Qty" requried>
                  <div class="invalid-feedback">
                   Quantity cannot be empty or more than 3
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer text-center p-4 pt-0 border-top-0 bg-transparent">
              <button class="btn btn-outline-dark mt-auto" type="submit">
                Add to Cart
              </button>
          </div>
        </div>
        </form>
      </div>
        </div>
      </div>
  </div>
</section>
<!-- Footer-->
  <div th:replace="~{fragments/frag.html :: foot}"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/script.js"></script>
</div>
</body>
</html>
